*{
    box-sizing: border-box;
}
.header{
    text-align: center;
    color: white;
    position: relative;
    height: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.img-fit-contain{
    height: 300px;
    width: 900px;
}
#banner {
    padding: 24px 24px;
    margin-bottom: 0px;
    background-image: url(bacteria-and-virus.png);
    background-position: center;
    position: relative;
    height: 250px;
    color: white;
}
#banner h1 {
    padding: 12px;
    background-color: #4d9708ae;
}
body{
    background: url("grey-linen-texture-background.png");
}

.btn-organism{
    background-color: black;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    height: 100px;
    width: 90%;
    font-size: 30px;
    margin: 15px auto;
}
.btn-organism:active{
        color:black;
}
.btn-organism:hover{
    color:black;
}
.question1{
    font-size: 25px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    padding-top: 15px;
}
.hide{
    display: none;
}
.video-responsive{
    margin: 15px auto;
    width: 90%;
    height: 500px;
}
li{
    float: left;
    list-style: none;
    text-align: center;
    background-color:white;
    color: black;
    margin-right: 30px;
    margin-bottom: 10px;
    width: 150px;
    line-height: 60px;
    border-style: solid;
    border-width: 0.2mm;  
}
li:active{
    background-color: mediumseagreen;
}
li:hover{
    background-color: mediumseagreen;
}
.navbar{
    background-color: rgb(109, 107, 107);
    height:50px;
}
.btn.btn-link{
    color:white;
    font-size: larger;
}